<nav>
    <ul>
      <li><a href="/">Home</a></li>
      
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      
        
          <li><a href="/usr_dash">Dashboard</a></li>
       
          <li><a href="/admin_dash">Admin Panel</a></li>
        
        <li><a href="/logout">Logout</a></li>
     
    </ul>
  </nav>
  