<%- include("partials/navbar") %>
<h2>Change Password</h2>
<form action="/change_password" method="POST">
  <input type="password" name="oldPassword" placeholder="Old Password" required><br>
  <input type="password" name="newPassword" placeholder="New Password" required><br>
  <button type="submit">Change Password</button>
</form>
